.idea
.pytest_cache
.ipynb_checkpoints
tmp*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tensorboard logs
logs_*/
runs/

# PyTorch models
*.pytorch

# Python packages
pytorch3dunet.egg-info/
dist/

# Dataset files
data/
Datasets/

# Visualizations
graphs/
test_stl/

# Checkpoints
#checkpoints/
