.idea
.pytest_cache
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tensorboard logs
logs/
runs/

# PyTorch models
*.pytorch

# Python packages
pytorch3dunet.egg-info/
dist/

# Dataset files
data/
Datasets/

# Graph visualizations
graphs/

# Checkpoints
#checkpoints/
